body {
    margin: 0;
    padding: 0;
    font-family: Effra, sans-serif;
}

/**
 * TODO merge these definitions
 */
.nav_text {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #dd4444;
}

.active_link {
    color: #dd4444;
}

.gap {
    height: 45px;
}
