

#graph_container
{
    cursor: move;
    background-image:
        linear-gradient(to right, #EEE 1px, transparent 1px),
        linear-gradient(to bottom, #EEE 1px, transparent 1px);
    overflow: hidden;
    text-align: left;
    vertical-align: top;
}

#graph_visuals_container
{
    overflow: visible;
    position: relative;
    transform-origin: left top;
}

#graph_container svg
{
    overflow: visible;
}

.visual
{
    position: absolute;
    width: 200px;
    cursor: pointer;
}

.graph_node
{
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}

.graph_node > div
{
    border: thin solid #555;
    border-radius: 5px;
    background-color: #FCFCFC;
}
