
table
{
    border-collapse: collapse;
}

tbody
{
    width: 100%;
    display: block;
}

td a
{
    padding: 5px;
}

tr
{
    border: thin solid #CCC;
}

tr.match
{
    border: thin solid #DDF;
    background-color: #F5F5FF;
}
