
#search_background
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, 0.3);
}

#search_box
{
    position: fixed;
    left: 50%;
    top: 40%;
    width: 600px;
    margin-left: -300px;
    height: 250px;
    margin-top: -125px;
    background-color: white;
    border: thin solid #777;
}

#search_close
{
    position: absolute;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    border: thin solid #777;
    cursor: pointer;
}
#search_close span
{
    vertical-align: middle; /* Does not seem to work */
}
