.App {
  /* text-align: center; */
}

#main_area
{
  float: left;
  width: 70%;
}

#side_panel
{
  width: 30%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fbfbfb;
  padding: 5px;
}
